


        <!-- Section Banner -->
        <div class="dlab-bnr-inr dlab-bnr-inr-md"
            style="background-image:url(assets/images/main-slider/slide1.jpg); background-size: cover;">
            <div class="container">
                <div class="dlab-bnr-inr-entry align-m dlab-home">
                    <div class="bnr-content">
                        <h2><strong>Find & Get</strong> Your Dream Place.</h2>
                    </div>
                    <div class="dlab-tabs search-filter">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#place">
                                    <i class="fa fa-map-marker"></i> <span class="title-head">Place</span></a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#party">
                                    <i class="fa fa-music"></i> <span class="title-head">Party</span></a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#restauren">
                                    <i class="fa fa-glass"></i> <span class="title-head">Restauren</span></a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="place" class="tab-pane active">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="What are you looking for?">
                                        <div class="form-control">
                                            <select>
                                                <option>Select Category</option>
                                                <option>Construction</option>
                                                <option>Corodinator</option>
                                                <option>Employer</option>
                                                <option>Financial Career</option>
                                                <option>Information Technology</option>
                                                <option>Marketing</option>
                                                <option>Quality check</option>
                                                <option>Real Estate</option>
                                                <option>Sales</option>
                                                <option>Supporting</option>
                                                <option>Teaching</option>
                                            </select>
                                        </div>
                                        <div class="input-group-prepend">
                                            <button class="site-button text-uppercase"><i class="fa m-r5 fa-search"></i>
                                                Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="party" class="tab-pane">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="What are you looking for?">
                                        <div class="form-control">
                                            <select>
                                                <option>Select Category</option>
                                                <option>Construction</option>
                                                <option>Corodinator</option>
                                                <option>Employer</option>
                                                <option>Financial Career</option>
                                                <option>Information Technology</option>
                                                <option>Marketing</option>
                                                <option>Quality check</option>
                                                <option>Real Estate</option>
                                                <option>Sales</option>
                                                <option>Supporting</option>
                                                <option>Teaching</option>
                                            </select>
                                        </div>
                                        <div class="input-group-prepend">
                                            <button class="site-button text-uppercase"><i class="fa m-r5 fa-search"></i>
                                                Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="restauren" class="tab-pane">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="What are you looking for?">
                                        <div class="form-control">
                                            <select>
                                                <option>Select Category</option>
                                                <option>Construction</option>
                                                <option>Corodinator</option>
                                                <option>Employer</option>
                                                <option>Financial Career</option>
                                                <option>Information Technology</option>
                                                <option>Marketing</option>
                                                <option>Quality check</option>
                                                <option>Real Estate</option>
                                                <option>Sales</option>
                                                <option>Supporting</option>
                                                <option>Teaching</option>
                                            </select>
                                        </div>
                                        <div class="input-group-prepend">
                                            <button class="site-button text-uppercase"><i class="fa m-r5 fa-search"></i>
                                                Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <p class="text-center text-white m-b10 m-t30">Find awesome places, bars, restaurants &
                            activities.</p>
                    </div>

                    <div class="category-bx">
                        <a routerLink="/list-view-left-side-bar" class="category">
                            <i class="flaticon-cat-cart-of-ecommerce"></i>
                            <p>carts</p>
                        </a>
                        <a routerLink="/list-view-left-side-bar" class="category">
                            <i class="flaticon-cat-carrot"></i>
                            <p>foods</p>
                        </a>
                        <a routerLink="/list-view-left-side-bar" class="category">
                            <i class="flaticon-cat-hockey"></i>
                            <p>candy</p>
                        </a>
                        <a routerLink="/list-view-left-side-bar" class="category">
                            <i class="flaticon-cat-pill-capsule"></i>
                            <p>medicine</p>
                        </a>
                        <a routerLink="/list-view-left-side-bar" class="category">
                            <i class="flaticon-cat-birthday-cake"></i>
                            <p>cake</p>
                        </a>
                        <a routerLink="/list-view-left-side-bar" class="category">
                            <i class="flaticon-cat-place"></i>
                            <p>place</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section Banner END -->

        <!-- Search Filter -->
        <div class="section-full">
            <div class="container">

            </div>
        </div>

        <!-- Search Filter END -->
        <div class="content-block">

            <!-- Featured Destinations -->
            <div class="section-full bg-white content-inner">
                <div class="container">
                    <ng-container *ngFor="let sectionData of city_section">
                        <div class="section-head text-black text-center">
                            <h2 class="box-title">{{sectionData.section_title}}</h2>
                            <div class="dlab-separator bg-primary"></div>
                            <p>{{sectionData.section_description}}</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of sectionData.items">
                                <div class="featured-bx m-b30">
                                    <div class="featured-media">
                                        <img src="assets/images/destinations/{{item.image}}" alt="" />
                                    </div>
                                    <div class="featured-info">
                                        <ul class="featured-star">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <h5 class="title"><a routerLink="/{{item.url}}">{{item.title}}</a></h5>
                                        <ul class="featured-category">
                                            <li><i class="fa fa-moon-o"></i> {{item.total_place}} Cities</li>
                                            <li><i class="fa fa-map-o"></i> {{item.total_listing}} Listing</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </ng-container>
                </div>
            </div>

            <!-- Featured Destinations End -->
            <!-- Our Services -->
            <div class="section-full bg-gray content-inner about-us">

                <div class="container-fluid">
                    <ng-container *ngFor="let sectionData of tranding_places_section">
                        <div class="section-head text-black text-center">
                            <h2 class="box-title">{{sectionData.section_title}}</h2>
                            <div class="dlab-separator bg-primary"></div>
                            <p>{{sectionData.section_description}}</p>
                        </div>

                        <owl-carousel-o [options]="customOptions"
                            class="most-visite11 owl-carousel11 owl-btn-center-lr owl-btn-1 primary">
                            <ng-template carouselSlide *ngFor="let item of sectionData.items">
                                <div class="item">
                                    <div class="listing-bx featured-star-left m-b30">
                                        <div class="listing-media">
                                            <img src="assets/images/listing/{{item.image}}" alt="">
                                            <ul class="featured-star">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                        <div class="listing-info">
                                            <h3 class="title"><a routerLink="/{{item.url}}">{{item.title}}</a></h3>
                                            <p>{{item.description}}</p>
                                            <ul class="place-info">
                                                <li class="place-location"><i
                                                        class="fa fa-map-marker"></i>{{item.location}}</li>
                                                <li class="open"><i class="fa fa-check"></i>{{item.opening_status}}</li>
                                            </ul>
                                        </div>
                                        <ul class="wish-bx">
                                            <li><a class="like-btn" href="javascript:void(0)"><i
                                                        class="fa fa-heart"></i></a></li>
                                            <li><a class="info-btn" href="javascript:void(0)"><i
                                                        class="fa fa-leaf"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </owl-carousel-o>
                    </ng-container>
                </div>
            </div>

            <!-- Our Services -->
            <!-- Why Choose Us -->
            <div class="section-full bg-img-fix most-visited content-inner overlay-primary-dark"
                style="background-image:url(assets/images/background/bg1.jpg);">
                <div class="container">
                    <div class="section-head text-white text-center">
                        <h2 class="box-title">How It Works?</h2>
                        <div class="dlab-separator bg-white"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4" *ngFor="let howItWork of howItWorks">
                            <div class="icon-bx-wraper sr-box center box1 m-b30">
                                <div class="icon-bx-lg radius bg-white m-b20"><a href="javascript:void(0)"
                                        class="icon-cell text-primary"><i class="{{howItWork.icon_class}}"></i></a>
                                </div>
                                <div class="icon-content">
                                    <h3 class="dlab-tilte">{{howItWork.title}}</h3>
                                    <p>{{howItWork.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Why Chose Us End -->
            <!-- Our Portfolio -->
            <div class="section-full content-inner bg-gray">
                <div class="container">
                    <div class="section-head text-center">
                        <h2 class="box-title">What Our Users Say</h2>
                        <div class="dlab-separator bg-primary"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <!-- <div id="owl-demo" class=""> -->
                                <owl-carousel-o [options]="customOptions"
                                    class="testimonial-one owl-loaded owl-theme owl-carousel owl-btn-center-lr owl-btn-3 owl-dots-primary-big">
                                    <ng-template carouselSlide *ngFor="let testimonial of testimonials">
                                        <div class="item">
                                            <div class="client-box">
                                                <div class="client-detail">
                                                    <div class="client-img">
                                                        <img src="assets/images/testimonials/{{testimonial.image}}"
                                                            width="100" height="100" alt="">
                                                    </div>
                                                    <div class="client-info">
                                                        <h5 class="client-name">{{testimonial.name}}</h5>
                                                        <span>{{testimonial.role}}</span>
                                                    </div>
                                                </div>
                                                <div class="client-info-bx">
                                                    <h5>{{testimonial.sub_heading}}</h5>
                                                    <p>{{testimonial.description}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </owl-carousel-o>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Our Portfolio END -->
                <!-- Featured Destinations -->
                <div class="section-full bg-white content-inner">
                    <div class="container">
                        <div class="section-head text-black text-center">
                            <h2 class="box-title">From The Blog</h2>
                            <div class="dlab-separator bg-primary"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                        </div>

                        <owl-carousel-o [options]="customOptions"
                            class="blog-carousel-1 owl-carousel-1 owl-none blog-shadow-out">
                            <ng-template carouselSlide *ngFor="let blog of blogs">
                                <div class="item">
                                    <div class="blog-post dez-blog">
                                        <div class="dlab-post-media">
                                            <a routerLink="/{{blog.url}}"><img
                                                    src="assets/images/blog/grid/{{blog.image}}" alt="" /></a>
                                        </div>
                                        <div class="dlab-info">
                                            <div class="category-tag">
                                                <a routerLink="/{{blog.url}}">{{blog.catgegory}}</a>
                                            </div>
                                            <div class="dlab-post-title ">
                                                <h5 class="post-title"><a routerLink="/{{blog.url}}">{{blog.title}}</a>
                                                </h5>
                                            </div>
                                            <div class="dlab-post-text">
                                                <p>{{blog.description}}</p>
                                            </div>
                                            <div class="dlab-post-meta">
                                                <ul>
                                                    <li class="post-author"><i class="icon-user"></i>By <a
                                                            routerLink="/{{blog.url}}">{{blog.author}}</a> </li>
                                                    <li class="post-comment"><i class="icon-speech"></i> <a
                                                            routerLink="/blog-details">{{blog.comments}} Comments</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </owl-carousel-o>
                    </div>
                </div>
                <!-- Featured Destinations End -->
            </div>
            <!-- contact area END -->
        </div>





