<!-- Section Banner -->
<div class="dlab-bnr-inr dlab-bnr-inr-md"
    style="background-image:url(assets/images/main-slider/slide1.jpg); background-size: cover;">
    <div class="container">
        <div class="dlab-bnr-inr-entry align-m dlab-home">
            <div class="bnr-content">
                <h2>
                    <strong>Busque & Encuentre</strong>
                    <a class="writer" data-period="3000"
                        data-type='[ "Un lugar maravilloso. ", "El servicio que necesita. ", "Transporte para un viaje. " ]'>
                        <span class="wrap"></span>
                    </a>
                </h2>
            </div>
            <div class="dlab-tabs search-filter">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#place">
                        <i class="fa fa-map-marker"></i> <span class="title-head">Lugares</span></a>
                    </li>

                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#serivices">
                        <i class="fa fa-music fa-star"></i> <span class="title-head">Servicios</span></a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div id="place" class="tab-pane active">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="¿Qué está buscando?">
                                <div class="form-control">
                                    <select>
                                        <option>Seleccionar Categoría</option>
                                        <option>Bares</option>
                                        <option>Galerías</option>
                                        <option>Restaurantes</option>
                                    </select>
                                </div>
                                <div class="input-group-prepend">
                                    <button class="site-button text-uppercase">
                                        <i class="fa m-r5 fa-search"></i>
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="services" class="tab-pane">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="¿Qué está buscando?">
                                <div class="form-control">
                                    <select>
                                        <option>Seleccionar Categoría</option>
                                        <option>Electricista</option>
                                        <option>Taxi</option>
                                        <option>Transfer</option>
                                        <option>Belleza y Bienestar</option>

                                    </select>
                                </div>
                                <div class="input-group-prepend">
                                    <button class="site-button text-uppercase">
                                        <i class="fa m-r5 fa-search"></i>
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <p class="text-center text-white m-b10 m-t30">
                    Busque y reserve maravillosos lugares y servicios en toda Cuba.
                </p>
            </div>

            <div class="category-bx">
                <a routerLink="/list-view-left-side-bar" class="category">
                    <i class="flaticon-cat-cart-of-ecommerce"></i>
                    <p>compras</p>
                </a>
                <a routerLink="/list-view-left-side-bar" class="category">
                    <i class="flaticon-cat-carrot"></i>
                    <p>comida</p>
                </a>
                <a routerLink="/list-view-left-side-bar" class="category">
                    <i class="flaticon-cat-pill-capsule"></i>
                    <p>Bienestar</p>
                </a>
                <a routerLink="/list-view-left-side-bar" class="category">
                    <i class="flaticon-cat-birthday-cake"></i>
                    <p>regalos</p>
                </a>
                <a routerLink="/list-view-left-side-bar" class="category">
                    <i class="flaticon-cat-place"></i>
                    <p>lugares</p>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Section Banner END -->


<div class="content-block">

    <!-- Featured Destinations -->
    <div class="section-full bg-white content-inner">
        <div class="container">
            <ng-container *ngFor="let sectionData of services">
                <div class="section-head text-black text-center">
                    <h2 class="box-title">{{sectionData.section_title}}</h2>
                    <div class="dlab-separator bg-primary"></div>
                    <p>{{sectionData.section_description}}</p>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of sectionData.items">
                        <div class="featured-bx m-b30">
                            <div class="featured-media">
                                <img [src]="item.image" alt="" />
                            </div>
                            <div class="featured-info">
                                <ul class="featured-star">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>

                                <h5 class="title">
                                    <a [routerLink]="[item._id]">{{item.name}}</a>
                                </h5>

                                <ul class="featured-category">
                                    <ng-container *ngFor="let city of item.cities">
                                        <li><i class="fa fa-map-marker"></i> {{city}}</li>
                                    </ng-container>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </ng-container>
        </div>
    </div>

    <!-- Our Services -->
    <!-- Why Choose Us -->
    <div class="section-full bg-img-fix most-visited content-inner overlay-primary-dark"
        style="background-image:url(assets/images/background/banner-23.webp);">
        <div class="container">
            <div class="section-head text-white text-center">
                <h2 class="box-title">¿Como trabajamos?</h2>
                <div class="dlab-separator bg-white"></div>
                <p>
                    Athbook es una plataforma para que las personas puedan encontrar lugares y servicios según sus necesidades y preferencias en toda Cuba.
                </p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4" *ngFor="let howItWork of howItWorks">
                    <div class="icon-bx-wraper sr-box center box1 m-b30">
                        <div class="icon-bx-lg radius bg-white m-b20"><a href="javascript:void(0)"
                                class="icon-cell text-primary"><i class="{{howItWork.icon_class}}"></i></a>
                        </div>
                        <div class="icon-content">
                            <h3 class="dlab-tilte">{{howItWork.title}}</h3>
                            <p>{{howItWork.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
